<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/style.css">
  <title>Modelo</title>
</head>

<body>

  <section class="showTable">
    <h1>Veículos de passeio</h1>
    <a href="veiculos_passeio_cadastrar.html"><button>Cadastro de veículos</button></a>

    <div class="resultado">
      <table class="vehicleTable">
        <tr>
          <th>Ano modelo</th>
          <th>Ano fabricação</th>
          <th>Modelo</th>
          <th>Consumo</th>
          <th>Valor</th>
          <th>Motor</th>
          <th>Nr.portas</th>
          <th>Cor interna</th>
          <th>Cor externa</th>
        </tr>
      </table>


    </div>
    
    

  </section>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../scripts/script_laisure.js"></script>
</body>

</html>